version: '3.8'

services:
  backend:
    build: ./backend
    container_name: django_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/db.sqlite3:/app/db.sqlite3  # Persist SQLite database
    env_file:
      - .env

  frontend:
    build: ./frontend
    container_name: nextjs_frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

  pwa:
    build: ./pwa_prodyogiki25
    container_name: nextjs_pwa
    ports:
      - "3001:3001"
    depends_on:
      - backend
